{% for product in section.settings.collection %}
  {% render 'product-card', product_product: product %}
{% else %}
  <p>There are no products inside this collection</p>
{% endfor %}

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    }
  ]
}
{% endschema %}
