{% if section.settings.collection %}
  {% assign collection = collections[section.settings.collection] %}

  {% for product in collection.products %}
    {% render 'product-card', product_product: product %}
  {% else %}
    <p>There are no products inside this collection</p>
  {% endfor %}
{% endif %}

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    }
  ]
}
{% endschema %}
