<script src="https://kaboomjs.com/lib/0.5.0/kaboom.js" defer></script>
<script src="{{ 'game.js' | asset_url }}" defer></script>

<div id="game-container" class="w-full">

</div>

{% schema %}
{
  "name": "Mario Game",
  "settings": [],
  "presets": [
    {
      "name": "Mario Game"
    }
  ]
}
{% endschema %}

