<div>
  <script src="https://kaboomjs.com/lib/0.5.0/kaboom.js"></script>
  <script src="{{ 'game.js' | asset_url }}"></script>
</div>

{% schema %}
{
  "name": "Mario Game",
  "settings": [],
  "presets": [
    {
      "name": "Mario Game"
    }
  ]
}
{% endschema %}
