<h1>{{ section.settings.title}}</h1>
<p>{{ section.settings.subtext }}</p>

{% schema %}
{
    "name": "404 Page",
    "settings": [

        {
            "type": "text",
            "id": "title",
            "label": "404 Title",
            "default": "404",
            "info": "Heading for the 404 page"
        },

        {
            "type": "text",
            "id": "subtext",
            "label": "404 Subtext",
            "default": "The page does not exist",
            "info": "Subtext for the 404 page"
        }
    ]
}

{% endschema %}